name: main
on:
  push:
    branches:
      - "master"
jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        racket-version: [ "7.8" ]
        racket-variant: [ "regular" ]
    name: main
    steps:
      - uses: actions/checkout@master
      - uses: Bogdanp/setup-racket@v0.5
        with:
          architecture: x64
          distribution: full # or minimal
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
      - name: install deps
        run: |
          raco pkg install --auto
      - name: build docs
        run: |
          raco scribble \
          --htmls \
          --dest-name docs \
          ++main-xref-in \
          --redirect-main https://docs.racket-lang.org/ \
          --redirect https://docs.racket-lang.org/local-redirect/index.html \
          scribblings/http-client.scrbl
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v1.2.5
        with:
          target_branch: gh-pages
          build_dir: docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
